
/*navbar*/
#nav {
    display:none;
}
#nav-bar3, #nav-bar4{
    display:none;
}
#nav-mobile{

    background: var(--background-navbar-bottom);
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:60px;
}
.carousel-card-div {
    justify-content: center;
}
.nav-item-mobile {
    color:var(--white)
}
.nav-mobile-left-div , .nav-mobile-right-div{
    display:flex;
    justify-content: center;
    align-items: center;
}
.sign-in-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-container {
    display:flex;
    justify-content: center;
    align-items: center;
}