#nav {

}
#nav .nav-container {
    width:100%;
    height:100px;
    display:flex;
    flex-direction: column;
    color:var(--white);
    justify-content: center;
    align-items: center;

}
#nav .nav-top {
    background: var(--background-navbar-top);
    height:60%;
    width:100%;
    display:flex;
    align-items: center;
    padding:0 1rem ;
    justify-content: left;

}
#nav .nav-left {
     width:15%;
    min-width:100px;
    height: 100%;
    display:flex;
    justify-content: left;
    align-items: center;
    margin-left:2rem
}
#nav .nav-left-container {
    width:20%;
    height:100%;
    display:flex;
    justify-content: left;
    align-items: center;
}
#nav .nav-middle {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav .search-bar-nav {
    /*flex: 0 0 90%;*/
    width:100%;
    max-width:80%;
    min-width: 100px;
    height:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    color:var(--black);
    border-radius:5px;
    border:yellow 1px solid;
}

#nav .all{
    background: #F3F3F3;
    color:#d1cfcf;
    width:3%;
    min-width: 55px;
    height: 100%;
    border-radius: 5px  0  0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:#d1cfcf 1px solid;
}
#nav .all:hover {
    background: #dadada;
}
/*#nav #search-bar-input {*/
/*    width:100%;*/
/*    height:100%;*/
/*    align-self: flex-start;*/
/*}*/
#nav .nav-right {
      width:30%;
    min-width:90px;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#nav .nav-bottom {
    background: var(--background-navbar-bottom);
    height:40%;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem ;

}
#nav .nav-bottom-left {
    margin-left:2rem;
}
#nav .Hamburger-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav .nav-bottom-middle {
    width:100%;
    height:100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
#nav .nav-bottom-right {
   width:100%;
    height:100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right:1rem;
}

#nav .nav-item-top, .flag-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:90px;
    max-width:90px;
    border:red 1px solid;
    width:100%;
    height:50px;

    /*padding:  1rem 0.5rem;*/
    /*margin:  2rem 0.5rem;*/
}
#nav .flag-div {
    min-width:50px;
    width:50%;
}
#nav .nav-item-top:hover ,#nav .flag-div:hover{
    border: 1px var(--white) solid;
}
#nav .nav-bottom-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:100px;

}

#nav .deliver-box {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

#nav .return-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Text*/

#nav .text-top {
    font-size: 0.8rem;
    color:#CCCCC7;
    letter-spacing: 0.7px;
    font-weight: 100;
}
#nav .text-bottom {
    font-size: 0.9rem;
    letter-spacing: 0.7px;
    font-weight: 800;
}

/* Icons */

.nav-logo {
    background: url('../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -10px -51px;
    width: 96px;
    height: 29px;
    display: block;
}


.search-icon {
    background: url('../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -10px -290px;
    width: 21px;
    height: 21px;
}

.location-icon {
    background: url('../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -71px -306px;
    width: 17px;
    height: 20px;
    margin-right:0.5rem;
}

.cart-icon {
    background: url('../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -10px -340px;
    width: 38px;
    height: 26px;
}

.cart-icon2 {
    background: url('../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -218px -337px;
    width: 41px;
    height: 28px;
}