html, body {
    box-sizing: border-box;
    padding-top: 0;
    margin-top: 0;
    line-height: 1.4;
    height: 100vh;
    scroll-behavior: smooth;
    font-size: 14px;
}
html {

}
body {
    box-sizing: border-box;
    font-family: "amazon", sans-serif;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}