
:root {
    --background-navbar-top:#141921;
    --background-navbar-bottom:#23303E;
    --orange:#F3A846;
    --white:#ffffff;
    --white2:#FAFAFA;
    --black:#0F1111;
    --button-yellow:#F7CA00;
    --button-orange:#FA8900;
    --brown:#CC6600;
    --cart-number:#F08804;

}

ul {
    list-style: none;
}